html, body {
    font-family: 'Raleway', sans-serif;
}

/* ------------------------------------------------------------------- */
/* main header */
/* ------------------------------------------------------------------- */

.main-header {
    background: black;
    color: white;
    position: relative;
    z-index: 100;
    height: 40px;

    .main-logo {
        font-size: 16px;
        line-height: 40px;
        padding-left: 4px;
        float: left;
        font-weight: bold;

        a {
            text-decoration: none;
            color:#fff;
            text-transform: uppercase;
        }

        span {
            color: #38C3AD;
        }
    }
}

/* ------------------------------------------------------------------- */
/* main nav */
/* ------------------------------------------------------------------- */

.hamburger {
    height: 3px;
    width: 30px;
    background-color: white;
    float: right;
    margin: 10px;
    position: relative;
    box-sizing: content-box;
    border-top: 7px solid #000000;
    border-bottom: 7px solid #000000;
    
    @media (min-width: 500px) {
        display: none;
    }
    &:before {
        position: absolute;
        content: '';
        right: 0;
        top: 10px;
        height: 3px;
        width: 100%;
        background-color: white;
    }
    &:after {
        position: absolute;
        content: '';
        right: 0;
        top: -10px;
        height: 3px;
        width: 100%;
        background-color: white;
    }
    
}

.main-nav {
    display: none;

    @media (min-width:1025px){
    display: block;
    float: right;
    text-align: right;
    padding-right: 6px;
    padding-left: 12px;
    word-spacing: 2px;
    font-size: 15px;
    }

    li {
        display: inline-block;
        margin: 0 20px;
        position: relative;

        a {
            color: white;
            line-height: 40px;
            text-decoration: none;
            font-weight: bolder;
            transition: 0.5s color;

            &:hover {
                color: #27C7AB;
            }
        }
    }

    .submenu {
        display: none;
        position: absolute;
        top: -5px;
        right: 133%;
        background: #161616;
        text-align: left;
        font-size: 15px;

        @media (min-width:1025px) {
            top: 55px;
            right: -50%;
            background: #000000;
            padding: 10px 0; 
            text-align: left;

            &:before {
                content: '';
                width: 0;
                height: 0;
                border: 10px solid transparent; 
                border-bottom-color: #000;
                position: absolute;
                left: 50%;
                top: -20px;
                transform: translate(-50%, 0);
            }          
        }
    }
}

.active {
    position: relative;

    ul {
    position: absolute;
    top:38px;
    right: 0;
    background-color: black;
    padding: 5px;
    display: block;
    }

    li {
        display: block;
    }
}



/* ------------------------------------------------------------------- */
/* section slider */
/* ------------------------------------------------------------------- */
.mobile-slider {
    .mobile-container {
        height: 300px;
        z-index: 1;
        width: 100%;
        background: #FCFCFC; /* Old browsers */
        background: -moz-linear-gradient(top, #FCFCFC 37%, #F2F5F6 72%, #CECECE 98%, #CECECE 100%, #F2F5F6 100%, #CECECE 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #FCFCFC 37%, #F2F5F6 72%, #CECECE 98%, #CECECE 100%, #F2F5F6 100%, #CECECE 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #FCFCFC 37%, #F2F5F6 72%, #CECECE 98%, #CECECE 100%, #F2F5F6 100%, #CECECE 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#cecece', GradientType=0); /* IE6-9 */
        position: relative;

        .mobile-title {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;
            padding-top: 30px;
            font-size: 30px;
            font-weight: 400;  
            text-align: center;

            span {
                color: #27C7AB;
            }
        
        }

        .mobile-image {
            max-width: 50%;
            position: absolute;
        }

        .mobile-text {
            font-size: 16px;
            left: 50%;
            max-width: 50%;
            position: absolute;
            text-align: left;
            margin-top: 35px;
        }

        .mobile-button {
            @include button;                
            margin-top: 125px;
            margin-left: 50%;
            font-size: 14px;
        } 
    }

    @media (min-width:1025px) {
        display: none;
    }
}


.section-slider {

    @media (max-width:500px) {
        display: none;
    }

    z-index: 1;
    width: 100%;
    height: 538px;
    background: #FCFCFC; /* Old browsers */
    background: -moz-linear-gradient(top, #FCFCFC 37%, #F2F5F6 72%, #CECECE 98%, #CECECE 100%, #F2F5F6 100%, #CECECE 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #FCFCFC 37%, #F2F5F6 72%, #CECECE 98%, #CECECE 100%, #F2F5F6 100%, #CECECE 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #FCFCFC 37%, #F2F5F6 72%, #CECECE 98%, #CECECE 100%, #F2F5F6 100%, #CECECE 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#cecece', GradientType=0); /* IE6-9 */
    position: relative;

    .slider {
        width: 100%;
        position: relative;
        height: 100%;
    }
        
    .row,
    .container {
        height: 100%;
    }

    .arrow {
        width: 60px;
        color: #38C3AD;
        font-weight: 400;
        font-size: 80px;
        position: absolute;
        background: none;
        border: 0;
        top: 0;
        bottom: 0;
        transition: 0.5s all;

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }

        &:hover {
            color: #117d6a;
        }

        &:focus {
            outline: none;
        }
    }

    .slider-cnt {
        margin: 0 100px;
        height: 100%;
        position: relative;

        .slide {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;

            .slide-image {
                float: left;
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                img {
                    position: relative;
                    width: 100%;
                }
            }

            .slide-cnt {
                height: 100%;
                width: 50%;
                float: left;
                box-sizing: border-box;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .slide-title {
                    margin-top: 10px;
                    margin-bottom: 30px;
                    font-size: 43px;
                    font-weight: 400;
                    text-align: center;

                    span {
                        color: #27C7AB;
                    }
                }

                .slide-text {
                    margin: 30px -5px;
                    font-size: 17px;
                    font-weight: normal;
                    text-align: center;
                    line-height: 22px;
                }

                .slide-button {
                    @include button;
                }
            }
        }
    }



} 

/* slide */
.section-slider {
    .slide {

        img {
        top: -50px;
        opacity: 0;
        transition: 0.5s 0s ease-in-out all;
        }

        .slide-cnt {
            opacity: 0;
            top: -50px;
            position: relative;
            transition: 0.5s 0.3s ease-in-out all;
        }
    }
}


/* aktywny slide */
.section-slider {
    .slide {
        .active {
            z-index: 100;
        }
    }
} 
.section-slider .slide.active img {
    top: 0;
    left: 0;
    opacity: 1;
}

.section-slider .slide.active .slide-cnt {
    opacity: 1;
    top: 0;
}

/* ------------------------------------------------------------------- */
/* section pictures */
/* ------------------------------------------------------------------- */

.section-pictures {
    background: #FFFFFF;
    padding-top: 45px;
    padding-bottom: 20px;
    
    @media (min-width: 1025px) {
        padding-top: 45px;
        padding-bottom: 45px;
        margin-top: 0;
    }
      
    .title {
        @include title;

        @media (min-width:1025px) {
            display: none;
        }
    }

    .picture-cnt {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        overflow: hidden;
        color: #222;
        width: 100%;

        @media (min-width:1025px) {
            margin: 60px 0;
        }
        
    
        img {
            position: relative;
            transition: 0.5s all;
            width: 90%;
            

            @media (min-width: 1025px) {
            width: 329px;
            height: 225px;
            }
        }

        &:hover {
            img {
                filter: opacity(40%);
            }
        }
    
        .picture-cnt-description {
            position: absolute;
            padding: 20px;
            left: 5%;
            top: 140px; 
            background: rgba(255, 255, 255, 0.5);
            border: 1px solid transparent;
            height: 70px;
            width: 90%;
            transition: 0.5s all;

            @media (min-width:1025px){
                left: 0;
                width: 100%;
                top: 120px;                
            }
        }
    
        .picture-title {
            @include picture-title;
        }
    
        .picture-cnt-text {
            overflow: hidden;
            height: 0;
            color: rgba(0, 0, 0, 0);
            transition: 0.5s height, 0.5s color;
        }
    }
}

.picture-cnt.active-box {

    .picture-cnt-description {
        top: 0;
        height: 100%;
        background: rgba(255, 255, 255, 1);
        border: 1px solid #DDD;

        .picture-cnt-text {
            height: 190px;
            color: rgba(0, 0, 0, 1);
        }

        &:not(.active):hover .picture-cnt-description {
            background: rgba(255, 255, 255, 0.8);
        }
    }
}

/* ------------------------------------------------------------------- */
/* section prices */
/* ------------------------------------------------------------------- */
.prices-section {
    padding-top: 45px;
    padding-bottom: 45px;
    background: rgb(241, 241, 241);
    width: 100%;
    height: 777px;

    .title {
        @include title;
    }

    .box {
        background: #F9F9F9;
        border: 2px solid #D4D4D4;
        height: 400px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (min-width:1025px) {
        height: 520px;
        }

        .text {
            text-align: center;
            font-size: 15px;
            text-transform: uppercase;
            color: #C2C2C2;
        }

        .button {
            @include button;
            font-size: 16px;
            padding: 4px 25px;
            margin-top: auto;
        }

    }

    .price-title {
        @include price-title;
    }

    .box-price {
        display: flex;
        width: 135px;
        height: 135px;
        border-radius: 50%;
        border: 2px solid #D4D4D4;
        background: #FFF;
        margin: 10px auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media (min-width:1025px){ 
        width: 135px;
        height: 135px;
        margin: 35px auto;
        }
    }

    .price-cnt {
        display: flex;
        color: #C2C2C2;

        .price {
            font-size: 45px;
            font-weight: 600;
        }

        .small {
            font-size: 16px;
            padding-top: 15px;
        }
    }

    .box-points {
        li {
        background: #E4E4E4;
        font-size: 16px;
        text-align: center;
        padding: 10px 0;
        color: #8F8F8F;

        @media (min-width: 1025px) {
            font-size: 24px;
        }

        &:nth-of-type(even) {
        background: #F1F1F1;
        }

        }
    }

    .box-button {
        display: flex;
        justify-content: center;

        .price-button {
            @include button;
            font-size: 16px;
            margin-top: auto;
            text-align: center;
            margin-bottom: 20px;
        }
    }
    

}

/* active */
.box.active-price {
    background: #27C7AB;
    border-color: #27C7AB;

    @media (min-width:1025px) {
    box-shadow: 0 0 51px 0 #A0A0A0;
    }

    .price-title {
        color: #FFF;
    }

    .box-price {
        border-color: #27C7AB;
    }

    .price-cnt .price,
    .price-cnt .small,
    .text {
        color: #27C7AB
    }
  
    .price-button {
        @include button;
        font-size: 16px;
        margin-top: auto;
        text-align: center;
        margin-bottom: 20px;
        background: #FFF;
        color: #27C7AB;
    }
}



/* ------------------------------------------------------------------- */
/* section contact */
/* ------------------------------------------------------------------- */
.section-contact {
    padding-top: 45px;

    .title {
        @include title;
        padding-top: 45px;
        margin-bottom: 40px;

        @media (min-width:1025px) {
            padding-top: 0;
        }
    }

    .form {
        margin-top: 40px;
        
        label {
            display: none;
        }

        input[type="text"],
        input[type="email"],
        textarea {
            font-family: 'Raleway', sans-serif;
            border: 1px solid #A1E6D1;
            height: 45px;
            padding: 10px;
            width: 80%;
            margin-bottom: 15px;
            font-weight: 300;
            font-size: 16px;
            margin-left: 15px;
            margin-top: 20px;

            @media (min-width:1025px) {
                height: 65px;
                padding: 15px;
                width: 100%;
                // margin-bottom: 10px;
                font-weight: 300;
                font-size: 24px;
                margin-left: 0;
                margin-top: 0;
            }

            &:focus {
                border-color: #38C3AD;
                box-shadow: inset 0 0 0 1px #38C3AD;
                outline: none;
            }
        }

        textarea {
            height: 195px;
            resize: none;
        }
    
        .form-img {
            display: none;

            @media (min-width:1025px){
            display: block;
            height: 210px;
            background: url(../images/red_chair.png) center top no-repeat;
           }
        }

        .checkbox-label {
            margin-top: 30px;
            display: block;
            overflow: hidden;
            position: relative;
            margin-left: 15px;

            @media (min-width:1025px){
                margin-left: 0;
            }

            input {
                position: absolute;
                opacity: 0.01;
                              
                ~ .checkbox-icon {
                    width: 50px;
                    height: 50px;
                    border: 1px solid #A1E6D1;
                    display: inline-block;

                    &:before {
                        width: 50px;
                        height: 50px;
                        background: url(../images/form_ok.jpg) center center no-repeat;
                        position: absolute;
                        left: 0;
                        top: 0;
                        content: '';
                        opacity: 0;
                        visibility: visible;
                        transform: scale(0.6, 0.6);
                        transition: 0.5s all;
                    }
                }

                &:checked ~ .checkbox-icon:before {
                    opacity: 1;
                    visibility: visible;
                    transform: scale(1, 1);
                }
            }

            .checkbox-text {
                display: inline-block;
                width: calc(100% - 70px);
                vertical-align: top;
                padding: 5px 0 0 5px;
                color: #AAA;
                font-size: 15px;
            }
        }
    
        .form-button {
            @include button;
            display: block;
            font-size: 26px;
            padding: 15px 30px;
            font-weight: bold;
            margin-top: 25px;
            width: 90%;
            margin: 10px auto;

            @media (min-width:1025px){
                width: 100%; 
            }
        }
    
    
    }
}

/* ------------------------------------------------------------------- */
/* footer */
/* ------------------------------------------------------------------- */
.main-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    
    .social-icons {
        display: inline-block;
        justify-content: center;
        margin: 5px;

        li {
            display: inline-block;
            
            a {
                @include social;
            }
        }

        .flickr {
            background: url(../images/flickr.png) no-repeat;
        }
        
        .vimeo {
            background: url(../images/vimeo.png) no-repeat;
        }
        
        .pinterest {
            background: url(../images/pinterest.png) no-repeat;
        }
        
        .twitter {
            background: url(../images/twitter.png) no-repeat;
        }
        
    }

    .footer-logo {
        display: inline-block;
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        color: #9B9B9B;
        margin: 5px;
        vertical-align: top;
        line-height: 35px;
        float: right;
    }

    .copyright {
        font-size: 16px;
        color: #9B9B9B;
        text-align: center;
        width: 100%;
        display: inline-block;
        margin-top: 5px;
    }
}



